* {
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: lightskyblue;
}

#contact {
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

a,
.card h3,
#portfolio h2,
#skills h2,
.css {
    color: dodgerblue;
}

.html{
    color: #FFA500;
}

.js {
    color:#f7df1e ;
}

#portfolio,
#skills {
    background-color: #fff;
}

.main-nav {
    padding: 0 5px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {    
    display: inline-block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin: 2px 0;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.main-nav a {
    display: block;
}

img {
    max-width: 100%;
}

#student-name {
    margin: 0;
    padding: 25px 0;
    color: #fff;
}

.student-info {
    padding: 30px 20px;
}

.student-info img {
    padding:  15px 40px 0 40px;
}

#portfolio h2,
#skills h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 50px 0 30px;
    font-size: 18px;
}

.card {
    padding: 15px;
}

.card h3 {
    margin-top: 1.4em;
    margin-bottom: 0;
}

#skills {
    text-align: center;
}

#skills p {
    font-size: 1.2em;
}

.skill-img {
    width: 50%;
    margin: 0 auto;
}

.skill-img p,
#contact h2,
.card h3,
.card p,
#portfolio h2,
#student-name,
.student-info {
    text-align: center;
}


#contact h2,
#contact p,
.main-footer h3,
hr {
    margin: 0;
}

#contact > .con-in {
    padding: 20px 10px;
    font-size: 10px;
}

#contact h2 {
    text-transform: uppercase;
    padding: 25px 0;
}

#contact {
    padding: 25px 10px 35px ;
    line-height: 1.3;
}

#contact p {
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;
}

#contact a,
.main-nav p {
    color: #fff
}

.phone-email {
    padding: 15px 0;
}

.phone-email span {
    font-weight: bold;
}

.main-footer {
    border-top: solid 1px black;
    margin: 0 15px;
    padding: 30px 0;
}

.main-footer h3,
.main-footer p {

    font-size: 1em;
}
.main-footer h3 {
    float: left;
    
}
.main-footer p {
    float: right;
    margin: 0;
}


.foot ul {
    display: none;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@media (min-width: 1024px){

    .main-warrper {
        margin: 0 auto;
        max-width: 1150px;
        background-color: lightskyblue;
    }

    #portfolio,
    #skills{
        width: 95%;
        margin: 0 auto;
    }

    .main-warrper > .main-header #student-name {
        float: left;
        color: black;
        padding: 15px 0 0 25px;
    }

    .main-header > .main-nav a {
        color: black;
    }

    .main-header {
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        border-bottom: 2px solid #000;
    }

    .student-info {
        margin-top: 60px;
    }

    .main-nav {
        float: right;
        padding-top: 25px;
    }

    .student-info > .student-bio {
        font-size: 1.4em;
        line-height: 1.5;
        padding-left: 30px;
    }

    .card {
        max-width: 33.33%;
    }

    #skills >.skill-info {
        font-size: 1.8em;
        padding-bottom: 20px;
    }

    #contact > p {
        padding: 50px 140px 0;
    }

    #contact h2 {
        padding-top: 10px;
    }

    .main-footer > h3 {
        font-size: 1.5em;
    }

    .foot {
        padding-top: 0;
    }
}


@media (min-width: 768px){
    
    #student-name {
    display: block;
    padding-left: 20px;
    }
    
    .main-nav li,
    .main-nav a {
        display: inline;
    }

    .main-nav li {
        background: none;
        padding: 0 20px;
        color: #fff;
    }

    .main-nav li a {
        color: #fff;
    }

    .main-nav li a:hover {
        text-decoration: underline;
    }

    .main-nav ul {
        display: block;
        text-align: center;
    }

    .student-bio {
        float: left;
        width: 60%;
        font-size: 1.3em;
        text-align: left;
        margin: 0;
    }

    .student-info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .student-info img {
        width: 40%;
        max-width: 100%;
        padding: 5px;
        float: right;
        border: solid 1px #fff;
    }

    #portfolio,
    #skills {
        padding: 0 20px;
    }

    .card {
        width: 50%;
        float: left;
        height: 400px;
        padding: 0 5px;
    }

    .card h3 {
        margin: 20px 0;
    }

    .card p {
        padding: 0 15px;
        margin: 0;
    }

    #skills h2 {
        padding-top: 30px;
    }

    .skill-img {
        width: 50%;
    }

    .skill-img img {
        width: 50%;
    }

    #contact {
        padding: 50px 50px 30px;
    }

    #contact h2 {
        font-size: 1.1em;
        letter-spacing: 2px;
    }

    #contact p {
        font-size: 1.15em;
    }
    
    .phone-email {
        padding-top: 40px;
    }

    .top {
        display: none;
    }

    .foot ul {
        float: right;
    }

    .foot li {
        padding: 0 0 0 10px;
    }

    img {
        border: solid 1px royalblue;
        border-radius: 5px;
        padding: 5px;
    }

    .card img:hover {
        box-shadow: slategray 5px 5px;
    }

    #skills img {
        border: none;
        box-shadow: none;
    }

}